@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Ranchers&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgba(249, 253, 184, 0.911);
    grid-area: h;
    height: 100px;
    padding: 20px;
    text-align: center;
    width: 100%;
}

h1 {
    font-family: 'Ranchers', cursive;
    color:  rgb(192, 9, 79);
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px rgb(214, 31, 101), 0 0 20px rgb(214, 31, 101), 0 0 25px rgb(214, 31, 101), 0 0 30px rgb(214, 31, 101), 0 0 35px rgb(214, 31, 101);
}

.grid {

    background-image: linear-gradient(rgba(247, 253, 159, 0.76), rgb(129, 27, 129));
    display: grid;
    grid-template-areas: 
            'h h h'
            's r r'
            'm r r'
            'f f f';
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 34px auto 50px;
    height: 100vh;
}

.searchEl {
    grid-area: s;
    height: min-content;
    padding: 5px;
    text-align: center;
    /* width: 200px; */
}

.recipesEl {
    grid-area: r;
    /* height: 100%; */
    width: 100%;
}

#searchResults {
    /* height: 100%; */
}

.recipe {
    cursor: pointer;
}

#recipeDisplay {
    /* height: 100%; */
}

.hide {
    display: none;
}

.musicEl {
    grid-area: m;
    /* height: 70.4%; */
    max-height: 100vh;
    overflow: scroll;
    padding: 10px;
}

.title {
    text-transform: uppercase;
}

footer {
    background-color: rgb(129, 27, 129);
    grid-area: f;
    text-align: center;
    width: 100%;
}